# Common
**/.vscode
**/.git*
**/.editorconfig
**/*.md
**/*.env*
**/*.sql*
**/*.pem
**/*.key
**/*.pub
**/*.crt
**/*.cer
**/*.cert
**/*.dockerfile
**/Dockerfile

# Server
**/trivy.yaml

# Backend
**/keys
**/tmp
**/bin
**/build
**/.golangci.yml
**/*.air*.toml
**/*_test.go

# Exceptions
!.git/refs/
!.git/objects/
!.git/HEAD
!.git/packed-refs
!internal/templates/**/*.md
