# Common
**/.vscode
**/.git*
**/.editorconfig
**/*.md
**/*.env*
**/*.sql*
**/*.pem
**/*.key
**/*.pub
**/*.crt
**/*.cer
**/*.cert
**/*.dockerfile
**/Dockerfile

# Server
**/trivy.yaml

# Backend
**/keys
**/tmp
**/bin
**/build
**/.golangci.yml
**/*.air*.toml
**/*_test.go

# Exceptions
!.env
!.git
!internal/keys/signing-private.json
!internal/keys/signing-public.json
!internal/keys/encryption-private.json
!internal/keys/encryption-public.json
!internal/keys/dkim.key
!internal/keys/dkim.pub
!internal/templates/**/*.md
