keys/
tmp/
.vscode/*
!.vscode/*.json
*.pem
*.key
*.pub
*.crt
*.cer
*.cert
*.env*
!*.env.example
*.sql
*.conf
!casbin/model.conf
*.ini
*.csv
!casbin/policy.csv
*.rej
*.orig
*.pdf
*.json
*.toml
!.air.toml
!i18n/active.*.toml
!i18n/translate.*.toml
