keys/
tmp/
bin/
build/
.vscode/*
!.vscode/*.json
*.pem
*.key
*.pub
*.crt
*.cer
*.cert
*.env*
!*.env.example
*.sql
*.conf
!internal/casbin/model.conf
*.ini
*.csv
!internal/casbin/policy.csv
*.rej
*.orig
*.pdf
*.json
*.toml
!.air.toml
!internal/i18n/active.*.toml
!internal/i18n/translate.*.toml
